<div class="char-container">
  <div class="header">
    <h1>Credits</h1>
  </div>

  <div class="first-row">
    <div class="character-card">
      <div class="character-image">
        <img src="assets/img/brandonjaspers.png" alt="Brandon Jaspers">
        <h3>David Wilson</h3>
      </div>

      <div class="character-bio">
        <ul>
          <li><b class="bold">Age</b>: 12</li>
          <li><b class="bold">Height</b>: 5" 1'</li>
          <li><b class="bold">Weight</b>: 109 lbs</li>
          <li><b class="bold">Hobbies</b>: Computers, Camping, Hockey</li>
          <li><b class="bold">Birthday</b>: May 21st</li>
          <li><b class="bold">Speed</b>: 3</li>
          <li><b class="bold">Might</b>: 4</li>
          <li><b class="bold">Sanity</b>: 4</li>
          <li><b class="bold">Knowledge</b>: 3</li>
          <li><b class="bold">Bio</b>: Brandon loves computers and camping. He takes his new laptop with him wherever he goes. That way he can program AND camp at the same time. Cool. Brandon's never liked playing with regular toys, action figures, or that kind of thing. In fact, he hates puppets. He had a clown puppet when he was little, and some mornings when he woke up, he'd find it had moved closer to him. Once it even had a kitchen knife in its hand. Brandon's pretty sure his big brother, Chris, was messing with him. But he still hates puppets. <br><br> Brandon sometimes sees Zoe's family when they go camping. Zoe usually hides in the tent with her dolls, though. Yuck. Brandon delivers the newspaper to Professor Longfellow (in his big old freaky house) and to Missy's family. Brandon's greatest fear is of puppets, particularly clown puppets.</li>
        </ul>
      </div>

      <div class="select-button">
        <a routerLink="/friend-select">Select</a>
      </div>
    </div>

    <div class="character-card">
      <div class="character-image">
        <img src="assets/img/brandonjaspers.png" alt="Brandon Jaspers">
        <h3>Alyssa Moody</h3>
      </div>

      <div class="character-bio">
        <ul>
          <li><b class="bold">Age</b>: 12</li>
          <li><b class="bold">Height</b>: 5" 1'</li>
          <li><b class="bold">Weight</b>: 109 lbs</li>
          <li><b class="bold">Hobbies</b>: Computers, Camping, Hockey</li>
          <li><b class="bold">Birthday</b>: May 21st</li>
          <li><b class="bold">Speed</b>: 3</li>
          <li><b class="bold">Might</b>: 4</li>
          <li><b class="bold">Sanity</b>: 4</li>
          <li><b class="bold">Knowledge</b>: 3</li>
          <li><b class="bold">Bio</b>: Brandon loves computers and camping. He takes his new laptop with him wherever he goes. That way he can program AND camp at the same time. Cool. Brandon's never liked playing with regular toys, action figures, or that kind of thing. In fact, he hates puppets. He had a clown puppet when he was little, and some mornings when he woke up, he'd find it had moved closer to him. Once it even had a kitchen knife in its hand. Brandon's pretty sure his big brother, Chris, was messing with him. But he still hates puppets. <br><br> Brandon sometimes sees Zoe's family when they go camping. Zoe usually hides in the tent with her dolls, though. Yuck. Brandon delivers the newspaper to Professor Longfellow (in his big old freaky house) and to Missy's family. Brandon's greatest fear is of puppets, particularly clown puppets.</li>
        </ul>
      </div>

      <div class="select-button">
        <a routerLink="/friend-select">Select</a>
      </div>
    </div>

    <div class="character-card">
      <div class="character-image">
        <img src="assets/img/brandonjaspers.png" alt="Brandon Jaspers">
        <h3>James Lannon</h3>
      </div>

      <div class="character-bio">
        <ul>
          <li><b class="bold">Age</b>: 12</li>
          <li><b class="bold">Height</b>: 5" 1'</li>
          <li><b class="bold">Weight</b>: 109 lbs</li>
          <li><b class="bold">Hobbies</b>: Computers, Camping, Hockey</li>
          <li><b class="bold">Birthday</b>: May 21st</li>
          <li><b class="bold">Speed</b>: 3</li>
          <li><b class="bold">Might</b>: 4</li>
          <li><b class="bold">Sanity</b>: 4</li>
          <li><b class="bold">Knowledge</b>: 3</li>
          <li><b class="bold">Bio</b>: Brandon loves computers and camping. He takes his new laptop with him wherever he goes. That way he can program AND camp at the same time. Cool. Brandon's never liked playing with regular toys, action figures, or that kind of thing. In fact, he hates puppets. He had a clown puppet when he was little, and some mornings when he woke up, he'd find it had moved closer to him. Once it even had a kitchen knife in its hand. Brandon's pretty sure his big brother, Chris, was messing with him. But he still hates puppets. <br><br> Brandon sometimes sees Zoe's family when they go camping. Zoe usually hides in the tent with her dolls, though. Yuck. Brandon delivers the newspaper to Professor Longfellow (in his big old freaky house) and to Missy's family. Brandon's greatest fear is of puppets, particularly clown puppets.</li>
        </ul>
      </div>

      <div class="select-button">
        <a routerLink="/friend-select">Select</a>
      </div>
    </div>

    <div class="character-card">
      <div class="character-image">
        <img src="assets/img/brandonjaspers.png" alt="Brandon Jaspers">
        <h3>Karina Roush</h3>
      </div>

      <div class="character-bio">
        <ul>
          <li><b class="bold">Age</b>: 12</li>
          <li><b class="bold">Height</b>: 5" 1'</li>
          <li><b class="bold">Weight</b>: 109 lbs</li>
          <li><b class="bold">Hobbies</b>: Computers, Camping, Hockey</li>
          <li><b class="bold">Birthday</b>: May 21st</li>
          <li><b class="bold">Speed</b>: 3</li>
          <li><b class="bold">Might</b>: 4</li>
          <li><b class="bold">Sanity</b>: 4</li>
          <li><b class="bold">Knowledge</b>: 3</li>
          <li><b class="bold">Bio</b>: Brandon loves computers and camping. He takes his new laptop with him wherever he goes. That way he can program AND camp at the same time. Cool. Brandon's never liked playing with regular toys, action figures, or that kind of thing. In fact, he hates puppets. He had a clown puppet when he was little, and some mornings when he woke up, he'd find it had moved closer to him. Once it even had a kitchen knife in its hand. Brandon's pretty sure his big brother, Chris, was messing with him. But he still hates puppets. <br><br> Brandon sometimes sees Zoe's family when they go camping. Zoe usually hides in the tent with her dolls, though. Yuck. Brandon delivers the newspaper to Professor Longfellow (in his big old freaky house) and to Missy's family. Brandon's greatest fear is of puppets, particularly clown puppets.</li>
        </ul>
      </div>

      <div class="select-button">
        <a routerLink="/friend-select">Select</a>
      </div>
    </div>
  </div><!--end third row div-->
</div><!--end char container div-->
