<div class="char-container">
  <div class="header">
    <h1>Credits</h1>
  </div>

  <div class="first-row">
    <div class="character-card">
      <div class="character-image">
        <img src="assets/img/professorlongfellow.png" alt="David Wilson">
        <h3>David Wilson</h3>
      </div>

      <div class="character-bio">
        <ul>
          <li><b class="bold">Cohort</b>: C#/.Net</li>
          <li><b class="bold">Age</b>: 30</li>
          <li><b class="bold">Hobbies</b>: Reading, Eating, Biking, Coding</li>
          <li><b class="bold">Birthday</b>: September 27th</li>
          <li><b class="bold">Speed</b>: 5</li>
          <li><b class="bold">Might</b>: 2</li>
          <li><b class="bold">Sanity</b>: 3</li>
          <li><b class="bold">Knowledge</b>: 3</li>
        </ul>
      </div>

      <div class="select-button">
        <a href="https://github.com/GrapeSalad">GrapeSalad</a>
      </div>
    </div>

    <div class="character-card">
      <div class="character-image">
        <img src="assets/img/missydubourde.png" alt="Alyssa Moody">
        <h3>Alyssa Moody</h3>
      </div>

      <div class="character-bio">
        <ul>
          <li><b class="bold">Cohort</b>: C#/.Net</li>
          <li><b class="bold">Age</b>: 26</li>
          <li><b class="bold">Hobbies</b>: Camping, Photography, Soap Making, Coding</li>
          <li><b class="bold">Birthday</b>: August 19th</li>
          <li><b class="bold">Speed</b>: 3</li>
          <li><b class="bold">Might</b>: 4</li>
          <li><b class="bold">Sanity</b>: 3</li>
          <li><b class="bold">Knowledge</b>: 4</li>
        </ul>
      </div>

      <div class="select-button">
        <a href="https://github.com/moodyan">moodyan</a>
      </div>
    </div>

    <div class="character-card">
      <div class="character-image">
        <img src="assets/img/oxbellows.png" alt="James Lannon">
        <h3>James Lannon</h3>
      </div>

      <div class="character-bio">
        <ul>
          <li><b class="bold">Cohort</b>: CSS/Design</li>
          <li><b class="bold">Age</b>: 27</li>
          <li><b class="bold">Hobbies</b>: Videogames, Coding, Air Conditioning, Camping</li>
          <li><b class="bold">Birthday</b>: March 29th</li>
          <li><b class="bold">Speed</b>: 2</li>
          <li><b class="bold">Might</b>: 5</li>
          <li><b class="bold">Sanity</b>: 2</li>
          <li><b class="bold">Knowledge</b>: 5</li>
        </ul>
      </div>

      <div class="select-button">
        <a href="https://github.com/Jlannon90">JLannon90</a>
      </div>
    </div>

    <div class="character-card">
      <div class="character-image">
        <img src="assets/img/thezost.png" alt="Karina Roush">
        <h3>Karina Roush</h3>
      </div>

      <div class="character-bio">
        <ul>
          <li><b class="bold">Cohort</b>: CSS/Design</li>
          <li><b class="bold">Age</b>: 27</li>
          <li><b class="bold">Hobbies</b>: Frogs, Reading, Coding, French Fries</li>
          <li><b class="bold">Birthday</b>: June 1st</li>
          <li><b class="bold">Speed</b>: 3</li>
          <li><b class="bold">Might</b>: 5</li>
          <li><b class="bold">Sanity</b>: 1</li>
          <li><b class="bold">Knowledge</b>: 5</li>
        </ul>
      </div>

      <div class="select-button">
        <a href="https://github.com/KarinaRoush">KarinaRoush</a>
      </div>
    </div>
  </div><!--end row div-->
    <a routerLink=""><button type="button" class="homelink">Home</button></a>
</div><!--end char container div-->
