<div class="rules-container">
  <div class="content-container">
    <h1>Rules</h1>
    <h4>Game Overview</h4>
    <p>
      In Betrayal at House on the Hill, you choose a character to explore a creepy old house. For this experience you also get to choose a friend to explore the house with you- safety in numbers. As you explore the house, you discover new rooms. Each time you enter a new room, you might find something... or something might find <i>you.</i> Explorers get better (or worse) depending on how they deal with the house's suprises. As your make your way deeper into the house, things take a sinister turn and a "haunt" is triggered.
    </p>
    <h4>How To Play</h4>
    <h5>Exploration Phase</h5>
    <ul>
      <li>Select your character and ally on the character select screens</li>
      <li>Explore the rooms (using the arrow keys)! You start on the ground floor, but there is also an upstairs and a basement. There are false doors and walls, so you have to find your way from room to room and hope you don't reach a dead end. You can always go back the way you came, but you can never leave!</li>
      <li>Entering a room may trigger either an omen or event card to be drawn. Follow the instructions dictated by each card (shown on the bottom of the screen). Oftentimes this will involve a dice roll.</li>
      <li>Each time you draw an omen card, the haunt creeps closer. For each omen card, you must make a haunt roll. If your roll is greater than the number of omen cards drawn, you are safe. For now. Once your haunt roll is less than the haunt counter, the haunt begins.</li>
    </ul>

    <h5>Haunt Phase</h5>
    <ul>
      <li>Once the haunt is triggered follow the instructions on the screen to help you survive the haunt.</li>
      <li>Choose your actions wisely, you never know what the house has in store for you or your friend! The clock is ticking...</li>
      <li>During this phase if any of your stats reach a level of zero, the house wins and you will perish.</li>
    </ul>

    <h4>Character Stats</h4>
    <p>
      Each character has four core stats, divided up into two categories: physical and mental. Physical stats include <b>might</b>, and <b>speed</b>. Mental stats include <b>knowledge</b>, and <b>sanity</b>. Depending on the cards dealt, the levels of your stats may go up or down. Pay attention to your stats, their numbers determine how many dice you can roll on event cards.
    </p>
      <ul>
        <li><b>Might</b> Used for physical attack and feats of strength</li>
        <li><b>Speed</b> Used for moving around the house, or challenges that demand agility</li>
        <li><b>Knowledge</b> Used for mentally demanding challenges</li>
        <li><b>Sanity</b> Your mental fortitude</li>
      </ul>

    <!-- <h4>Omen and Event Cards</h4>
    <p>
      Omen and Event cards trigger positive or negative instances in the game, and often require a dice roll to determine your outcome. Most outcomes will affect your stat levels for better or worse. Each card has a unique set of instructions for your character to follow.
    </p> -->

    <div class="home">
      <a routerLink="/character-select">Proceed With Caution</a>
    </div>
    <div class="move-me">
      <a routerLink="">Home</a>    
    </div>
  </div>
</div>
