<div class="about-container">
  <div class="content-container">
    <h1>About</h1>
    <h4>Board Game Creators</h4>
    <p><b>Design</b> Bruce Glassco with contributions from Rob Daviau</p>
    <p><b>Development</b> Mike Selinker (lead), Bill McQuillan, Brian "Chainsaw" Campbell, Mons Johnson, Gwendolyn F.M. Kestrel, Bill Slavicsek, Brian Tinsman, Teeuwynn Woodruff</p>
    <p><b>Fiction Team</b> Teeuwynn Woodruff (lead) with Bruce Cordell</p>
    <p><b>Editors</b> Brian Campbell and Cal Moore</p>
    <p><b>Art Director</b> Peter Whitley</p>
    <p><b>Graphic Design</b> Kate Irwin (lead), Rob Daviau, and Trish Yochum</p>
    <p><b>Production Management</b> Kay McKee and Teresa Newby</p>
    <p><b>Cover Illustrator</b> Christopher Moeller</p>
    <p><b>Tile Illustrator</b> Scott Okumura</p>
    <p><b>Brand Lead</b> Laura Veasey</p>
    <p><b>Lead Playtester</b> Warren Wyman</p>
    <p><b>Publisher</b> Avalon Hill (2004)</p>
    <div class="home">
      <a routerLink="">Home</a>
    </div>
  </div>
</div>
