  <div *ngIf="hauntInfo" class="haunt-container">
    <div class="haunt-info">
      <h1>{{hauntCard.haunt}}</h1>
      <p>{{hauntCard.flavor}}</p>
      <p>What You Know: {{hauntCard.whatYouKnow}}</p>
      <p>You Win When: {{hauntCard.youWinWhen}}</p>
      <p>How: {{hauntCard.how}}</p>
      <h2 (click)="hideHauntInfo()">Find {{selectedFriend.name}}</h2>
    </div>
    <audio autoplay><source src="././assets/sounds/wilhelmScream.mp3"></audio>
  </div>


<div class="board-container">
  <div *ngIf="hauntWin" class="youWin">
    <div class="winContent">
      <h1>VICTORY</h1>
      <p>{{hauntCard.ifYouWin}}</p>
      <h2><a routerLink="">Play Again</a></h2>
    </div>
  </div>

  <div *ngIf="hauntLose || death" class="youLose">
    <div class="loseContent">
      <h1>YOU LOSE</h1>
      <p>The house buries you alive too and both you and your friend are stuck in eternal darkness</p>
      <h2><a routerLink="">Play Again</a></h2>
    </div>
  </div>

  <!-- <div *ngIf="death">
    <h3>GAME OVER</h3>
  </div> -->
  <div *ngIf="startScreen" class="start-screen">
    <h1>Press Enter. If you dare...</h1>
  </div>
<div *ngIf="!startScreen && !death && !hauntWin && !hauntLose" class="top-row">
  <div class="logo">
    <img src="/assets/img/logo.png" alt="logo">
  </div>
  <div *ngIf="!haunt"class="haunt-counter">
    <h5>HAUNT COUNTER: {{hauntCounter}}</h5>
  </div>
</div>

<div *ngIf="!startScreen && !death && !hauntWin && !hauntLose" class="middle-row">

  <div class="emptydiv">
    <div class="warnings">
      <div *ngIf="groundToUpstairs"><p>Press the left key to move upstairs while in the grand staircase</p></div>
      <div *ngIf="hitWall"><p>A false door or a wall is blocking your path</p></div>
      <div *ngIf="upstairsToGround"><p>Press the enter key to go back downstairs</p></div>
      <div *ngIf="groundToBasement"><p>You fell to the basement!</p></div>
      <div *ngIf="basementToGround"><p>Press the up key to go to the ground level</p></div>
      <div *ngIf="haunt"><p>You have {{movesRemaining}} moves until {{selectedFriend.name}} dies! You better hurry to the basement!</p></div>
      <!-- <div *ngIf="haunt"><audio autoplay><source src="././assets/sounds/hauntTheme.mp3"></audio></div> -->
    </div>
  </div>

  <div class="board-grid">
    <!-- <div *ngIf="groundShow"> -->
    <h3>Ground Floor</h3>
    <div class="row">
      <div class="cell hidden" id="1"></div>
      <div class="cell hidden" id="2"></div>
      <div class="cell hidden" id="3"></div>
      <div class="cell hidden" id="4"></div>
      <div class="cell hidden" id="5"></div>
      <div class="cell hidden" id="6"></div>
      <div class="cell hidden" id="7"></div>
      <div class="cell hidden" id="8"></div>
    </div>
    <div class="row">
      <div class="cell hidden" id="9"></div>
      <div class="cell hidden" id="10"></div>
      <div class="cell hidden" id="11"></div>
      <div class="cell hidden" id="12"></div>
      <div class="cell hidden" id="13"></div>
      <div class="cell hidden" id="14"></div>
      <div class="cell hidden" id="15"></div>
      <div class="cell hidden" id="16"></div>
    </div>
    <div class="row">
      <div class="cell hidden" id="17"></div>
      <div class="cell hidden" id="18"></div>
      <div class="cell hidden" id="19"></div>
      <div class="cell hidden" id="20"></div>
      <div class="cell" id="21"></div>
      <div class="cell" id="22"></div>
      <div class="cell" id="23"></div>
      <div class="cell" id="24"></div>
    </div>
    <div class="row">
      <div class="cell hidden" id="25"></div>
      <div class="cell hidden" id="26"></div>
      <div class="cell hidden" id="27"></div>
      <div class="cell hidden" id="28"></div>
      <div class="cell" id="29"></div>
      <div class="cell" id="30"></div>
      <div class="cell" id="31"></div>
      <div class="cell" id="32"></div>
    </div>
    <div class="row">
      <div class="cell hidden" id="33"></div>
      <div class="cell hidden" id="34"></div>
      <div class="cell hidden" id="35"></div>
      <div class="cell hidden" id="36"></div>
      <div class="cell" id="37"><img [src]="grandStaircase?.src"></div>
      <div class="cell" id="38"><img [src]="foyer?.src"></div>
      <div class="cell" id="39"><img [src]="entranceHall?.src"></div>
      <div class="cell" id="40"></div>
    </div>
    <div class="row">
      <div class="cell hidden" id="41"></div>
      <div class="cell hidden" id="42"></div>
      <div class="cell hidden" id="43"></div>
      <div class="cell hidden" id="44"></div>
      <div class="cell" id="45"></div>
      <div class="cell" id="46"></div>
      <div class="cell" id="47"></div>
      <div class="cell" id="48"></div>
    </div>
    <div class="row">
      <div class="cell hidden" id="49"></div>
      <div class="cell hidden" id="50"></div>
      <div class="cell hidden" id="51"></div>
      <div class="cell hidden" id="52"></div>
      <div class="cell" id="53"></div>
      <div class="cell" id="54"></div>
      <div class="cell" id="55"></div>
      <div class="cell" id="56"></div>
    </div>
    <div class="row">
      <div class="cell hidden" id="57"></div>
      <div class="cell hidden" id="58"></div>
      <div class="cell hidden" id="59"></div>
      <div class="cell hidden" id="60"></div>
      <div class="cell" id="61"></div>
      <div class="cell" id="62"></div>
      <div class="cell" id="63"></div>
      <div class="cell" id="64"></div>
    </div>

    <!-- <div *ngIf="upstairsShow"> -->
    <h3>Upstairs</h3>
    <div class="row">
      <div class="cell hidden" id="77"></div>
      <div class="cell hidden" id="78"></div>
      <div class="cell" id="79"></div>
      <div class="cell" id="80"></div>
      <div class="cell" id="81"></div>
      <div class="cell hidden" id="82"></div>
      <div class="cell hidden" id="83"></div>
      <div class="cell hidden" id="84"></div>
    </div><div class="row">
      <div class="cell hidden" id="85"></div>
      <div class="cell hidden" id="86"></div>
      <div class="cell" id="87"></div>
      <div class="cell" id="88"></div>
      <div class="cell" id="89"></div>
      <div class="cell hidden" id="90"></div>
      <div class="cell hidden" id="91"></div>
      <div class="cell hidden" id="92"></div>
    </div><div class="row">
      <div class="cell hidden" id="93"></div>
      <div class="cell hidden" id="94"></div>
      <div class="cell" id="95"></div><!--ul-->
      <div class="cell" id="96"></div>
      <div class="cell" id="97"></div>
      <div class="cell hidden" id="98"></div>
      <div class="cell hidden" id="99"></div>
      <div class="cell hidden" id="100"></div>
    </div><div class="row">
      <div class="cell hidden" id="101"></div>
      <div class="cell hidden" id="102"></div>
      <div class="cell" id="103"></div>
      <div class="cell" id="104"></div>
      <div class="cell" id="105"></div>
      <div class="cell hidden" id="106"></div>
      <div class="cell hidden" id="107"></div>
      <div class="cell hidden" id="108"></div>
    </div><div class="row">
      <div class="cell hidden" id="109"></div>
      <div class="cell hidden" id="110"></div>
      <div class="cell" id="111"></div>
      <div class="cell" id="112"></div>
      <div class="cell" id="113"></div>
      <div class="cell hidden" id="114"></div>
      <div class="cell hidden" id="115"></div>
      <div class="cell hidden" id="116"></div>
    </div>
    <div class="row">
      <div class="cell hidden" id="117"></div>
      <div class="cell hidden" id="118"></div>
      <div class="cell" id="119"></div>
      <div class="cell" id="120"></div>
      <div class="cell" id="121"></div>
      <div class="cell hidden" id="122"></div>
      <div class="cell hidden" id="123"></div>
      <div class="cell hidden" id="124"></div>
    </div>
    <!-- </div> -->
    <!-- <div *ngIf="basementShow"> -->
    <h3>Basement</h3>
    <div class="row">
      <div class="cell hidden" id="200"></div>
      <div class="cell" id="201"></div>
      <div class="cell" id="202"></div>
      <div class="cell" id="203"></div>
      <div class="cell" id="204"></div>
      <div class="cell hidden" id="205"></div>
      <div class="cell hidden" id="206"></div>
      <div class="cell hidden" id="207"></div>
    </div>
    <div class="row">
      <div class="cell hidden" id="208"></div>
      <div class="cell" id="209"></div>
      <div class="cell" id="210"></div>
      <div class="cell" id="211"></div>
      <div class="cell" id="212"></div>
      <div class="cell hidden" id="213"></div>
      <div class="cell hidden" id="214"></div>
      <div class="cell hidden" id="215"></div>
    </div>
    <div class="row">
      <div class="cell hidden" id="216"></div>
      <div class="cell" id="217"></div>
      <div class="cell" id="218"></div>
      <div class="cell" id="219"></div>
      <div class="cell" id="220"></div>
      <div class="cell hidden" id="221"></div>
      <div class="cell hidden" id="222"></div>
      <div class="cell hidden" id="223"></div>
    </div>
    <div class="row">
      <div class="cell hidden" id="224"></div>
      <div class="cell" id="225"></div>
      <div class="cell" id="226"></div><!--BL-->
      <div class="cell" id="227"></div>
      <div class="cell" id="228"></div>
      <div class="cell hidden" id="229"></div>
      <div class="cell hidden" id="230"></div>
      <div class="cell hidden" id="231"></div>
    </div>
    <div class="row">
      <div class="cell hidden" id="232"></div>
      <div class="cell" id="233"></div>
      <div class="cell" id="234"></div>
      <div class="cell" id="235"></div>
      <div class="cell" id="236"></div>
      <div class="cell hidden" id="237"></div>
      <div class="cell hidden" id="238"></div>
      <div class="cell hidden" id="239"></div>
    </div>
    <div class="row">
      <div class="cell hidden" id="240"></div>
      <div class="cell" id="241"></div>
      <div class="cell" id="242"></div>
      <div class="cell" id="243"></div>
      <div class="cell" id="244"></div>
      <div class="cell hidden" id="245"></div>
      <div class="cell hidden" id="246"></div>
      <div class="cell hidden" id="247"></div>
    </div>
    <div class="row">
      <div class="cell hidden" id="248"></div>
      <div class="cell" id="249"></div>
      <div class="cell" id="250"></div>
      <div class="cell" id="251"></div>
      <div class="cell" id="252"></div>
      <div class="cell hidden" id="253"></div>
      <div class="cell hidden" id="254"></div>
      <div class="cell hidden" id="255"></div>
    </div>
    <!-- </div> -->
  <!-- </div>   end basement div -->
  </div>   <!-- end board grid div -->
  <div class="omenevent-cards">
    <div *ngIf="directionShow || eventShow" class="omen-cards" (click)="drawOmenCard()">
      <h3>Omen</h3>
      <img src="/assets/img/crow.png" alt="crow">
    </div>
    <div *ngIf="omenShow" class="omen-show-cards" (click)="drawOmenCard()">
      <h3>Omen</h3>
      <img src="/assets/img/crow.png" alt="crow">
    </div>
    <div *ngIf="directionShow || omenShow" class="event-cards" (click)="drawEventCard()">
      <h3>Event</h3>
      <img src="/assets/img/spiral.png" alt="spiral">
    </div>
    <div *ngIf="eventShow" class="event-show-cards" (click)="drawEventCard()">
      <h3>Event</h3>
      <img src="/assets/img/spiral.png" alt="spiral">
    </div>
  </div>

</div><!-- end middle rowdiv -->

<div *ngIf="!startScreen && !death && !hauntWin && !hauntLose" class="last-row">
  <div class="character-details">
    <div class="portrait">
      <h5>{{selectedCharacter?.name}}</h5>
      <div class="character-image">
        <img [src]=selectedCharacter?.src alt="characterPic">
      </div>
    </div>
    <div class="stats">
      <div id="sanity">
        <h5>Sanity</h5>
        <ul>
          <li *ngFor="let stat of selectedCharacter?.sanity?.statArray; let i=index" [class]="i">{{stat}}</li>
        </ul>
      </div>
      <div id="might">
        <h5>Might</h5>
        <ul>
          <li *ngFor="let stat of selectedCharacter?.might?.statArray; let i=index" [class]="i">{{stat}}</li>
        </ul>
      </div>
      <div id="speed">
        <h5>Speed</h5>
        <ul>
          <li *ngFor="let stat of selectedCharacter?.speed?.statArray; let i=index" [class]="i">{{stat}}</li>
        </ul>
      </div>
      <div id="knowledge">
        <h5>Knowledge</h5>
        <ul>
          <li *ngFor="let stat of selectedCharacter?.knowledge?.statArray; let i=index" [class]="i">{{stat}}</li>
        </ul>
      </div>
    </div> <!-- end stats div -->
  </div> <!-- end stats div -->
  <div class="play-instructions">
    <div *ngIf="directionShow" class="direction-instructions">
      <h5>Explore the house</h5>
      <h3>Use the arrow keys to explore the house. Entering a room may trigger an omen card or event card.</h3>
      <audio autoplay><source src="././assets/sounds/thunder.mp3"></audio>
    </div>
    <div *ngIf="eventShow" class="event-drawn">

      <h4 *ngIf="eventShowDraw"><span class="highlighted">DRAW AN EVENT CARD</span></h4>
      <div *ngIf="eventShowCard">
        <h5>{{chosenEvent?.event}}</h5>
        <p>{{chosenEvent?.flavor}}</p>
        <p>{{chosenEvent?.description}}</p>
      </div>
    </div>
    <div *ngIf="omenShow" class="omen-drawn">

      <h4 *ngIf="omenShowDraw"><span class="highlighted">DRAW AN OMEN CARD</span></h4>
      <div *ngIf="omenShowCard">
        <h5>{{chosenOmen?.omen}}</h5>
        <p>{{chosenOmen?.flavor}}</p>
        <p>{{chosenOmen?.description}}</p>
      </div>
    </div>
  </div>
  <div class="dice-roll">
    <div class="dice-words">
      <h3>Your Roll</h3>
      <h2 *ngIf="showDieRoll">{{dieRoll}}</h2>
    </div>
    <div (click)="getDieRoll()" class="dice-image">
      <img src="/assets/img/dice.png" alt="DIE">
    </div>
  </div>

</div> <!-- end last row div -->
</div> <!-- end board container div -->
