$breakpoint-medium2: "only screen and (max-width: 1440px)";
@keyframes enterglow {
  from {
    text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px black, 0 0 70px black, 0 0 80px black, 0 0 100px black, 0 0 150px black;
  }
  to {
    text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #5b0101, 0 0 35px #5b0101, 0 0 40px #5b0101, 0 0 50px #5b0101, 0 0 75px #5b0101;
  }
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0deg);
  }
  33% {
    transform: rotateZ(-20deg);
  }
  66% {
    transform: rotateZ(20deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-1080deg);
  }
}

@keyframes fly {
  0% {
    transform: translateY(0px) translateX(0px) rotateZ(-20deg);
  }
  54% {
    transform: translateY(-540px) translateX(-500px) rotateZ(-45deg);
  }
  55% {
    transform: translateY(-540px) translateX(300px) rotateZ(-20deg);
  }
  56% {
    transform: translateY(400px) translateX(300px) rotateZ(-60deg);
  }
  100% {
    transform: translateY(0px) translateX(0px) rotateZ(-20deg);
  }
}


// HAUNT CONTAINER //
.haunt-container {
  width: 100%;
  height: 1300px;
  background-color: black;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;

  .haunt-info {
    width: 80%;
  }
  h1, h2 {
    font-family: ghastly;
    color: darkred;
    font-size: 9em;
    letter-spacing: 15px;
    text-shadow: 5px 5px 20px black;
    text-align: center;
    margin: 40px;
  }
  p {
    font-family: spoopy;
    color: darkred;
    font-size: 3em;
    letter-spacing: 5px;
    text-shadow: 5px 5px 20px black;
  }
  h2 {
    animation: enterglow 1.5s ease-in-out infinite alternate;
    cursor: pointer;
  }
}

// BOARD CONTAINER //
.board-container {
  // border: 5px dotted black;
  height: 100vh;
  background-image: url('/assets/img/trophyroom.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

// ENTER PAGE //
.start-screen {
  background-image: url('/assets/img/trophyroom.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: ghastly;
    color: darkred;
    font-size: 200px;
    letter-spacing: 15px;
    text-shadow: 15px 15px 30px black;
    animation: enterglow 1.5s ease-in-out infinite alternate;
    cursor: none;
    @media #{$breakpoint-medium2} {
      font-size: 100px;
    }
  }
}

// WINNING AND LOSING PAGES //
.youWin, .youLose {
  height: 1300px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: auto;

  .winContent, .loseContent {
    width: 70vw;
    height: 60vh;
    padding: 50px;


    h1 {
      font-family: ghastly;
      color: darkred;
      font-size: 10em;
      letter-spacing: 15px;
      text-shadow: 5px 5px 20px black;
      text-align: center;
      margin-top: 10px;
    }
    p {
      font-family: spoopy;
      color: darkred;
      font-size: 4em;
      letter-spacing: 5px;
      text-shadow: 5px 5px 20px black;
    }
    h2 {
      text-align: center;
      font-family: ghastly;
      font-size: 6em;
      letter-spacing: 15px;
      text-shadow: 5px 5px 20px black;
      text-align: center;
      margin: 40px;
      animation: enterglow 1.5s ease-in-out infinite alternate;
      cursor: pointer;
      a {
        text-decoration: none;
        color: darkred;
      }
    }
  }
}

// TOP ROW //
.top-row {
  height: 10vh;
  display: flex;
  justify-content: space-between;

  // LOGO //
  .logo {
    width: 15%;
    height: 10vh;
    img {
      height: 100%;
      width: auto;
      -webkit-filter: drop-shadow(6px 6px 30px #8fc470);
      filter: drop-shadow(6px 6px 30px #8fc470);
    }
  }

  // HAUNT COUNTER //
  .haunt-counter {
    width: 15%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media #{$breakpoint-medium2} {
      width: 20%;
    }
    h5 {
      font-family: ghastly;
      color: darkred;
      font-size: 4em;
      letter-spacing: 5px;
      text-shadow: 0 0 30px black;
      @media #{$breakpoint-medium2} {
        font-size: 3em;
        padding-top: 5px;
      }
    }
  }
}

// MIDDLE ROW //
.middle-row {
  height: 65vh;
  display: flex;
  justify-content: space-between;

  // EMPTY LEFT DIV //
  .emptydiv {
    width: 15%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: spoopy;
    color: darkred;
    font-size: 3em;
    @media #{$breakpoint-medium2} {
      width: 9%;
      font-size: 2em;
    }
    .warnings {
      margin-right: 20px;
      margin-left: 60px;
      @media #{$breakpoint-medium2} {
        margin-right: 0;
      }
    }

  }

  // GAME BOARD GRID //
  .board-grid {
    background-color: rgba(138, 137, 133, 0.3);
    height: 65vh;
    width: 55%;
    display: flex;
    overflow: auto;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    border: 2px solid black;
    @media #{$breakpoint-medium2} {
      width: 61%;
    }

    h3 {
      margin: 10px;
      font-family: ghastly;
      color: darkred;
      font-size: 5em;
      text-shadow: 4px 4px 20px black;
      letter-spacing: 4px;
      padding: 20px 0;
    }
  }

  // OMEN AND EVENT CARDS //
  .omenevent-cards {
    height: 65vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: space-around;
    align-items: center;
    div{
      cursor: pointer;
    }
    // CROWMENS //
    .omen-cards {
      height: 400px;
      width: 250px;
      border: 1px dotted black;
      background-image: url('/assets/img/charbg.jpg');
      background-color: #1C591F;
      background-blend-mode: screen;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 0.8rem 0.8rem 0 rgba(0,0,0,.6);
      border: 2px solid black;
      @media #{$breakpoint-medium2} {
        height: 300px;
        width: 175px;
      }

      h3 {
        font-size: 3em;
        font-family: necrotype;
        margin-top: 0;
        text-shadow: 2px 2px 5px black;
        letter-spacing: 2px;
        @media #{$breakpoint-medium2} {
          font-size: 2em;
        }
      }

      img {
        width: 90%;
        height: auto;
        transform: rotateZ(-20deg);
      }
    }
    .omen-show-cards {
      height: 400px;
      width: 250px;
      border: 1px dotted black;
      background-image: url('/assets/img/charbg.jpg');
      background-color: #1C591F;
      background-blend-mode: screen;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 0.8rem 0.8rem 0 rgba(0,0,0,.6);
      border: 2px solid black;
      @media #{$breakpoint-medium2} {
        height: 300px;
        width: 175px;
      }

      h3 {
        font-size: 3em;
        font-family: necrotype;
        margin-top: 0;
        text-shadow: 2px 2px 5px black;
        letter-spacing: 2px;
        @media #{$breakpoint-medium2} {
          font-size: 2em;
        }
      }

      img {
        width: 90%;
        height: auto;
        transform: rotateZ(-20deg);
        animation: fly 7s forwards;
      }
    }


    // EVENTS //
    .event-cards {
      height: 380px;
      width: 250px;
      background-image: url('/assets/img/charbg.jpg');
      background-color: #185360;
      background-blend-mode: screen;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 0.8rem 0.8rem 0 rgba(0,0,0,.6);
      border: 2px solid black;
      @media #{$breakpoint-medium2} {
        height: 300px;
        width: 175px;
      }

      h3 {
        font-size: 3em;
        font-family: necrotype;
        margin-top: 0;
        text-shadow: 2px 2px 5px black;
        letter-spacing: 2px;
        @media #{$breakpoint-medium2} {
          font-size: 2em;
        }
      }

      img {
        width: 60%;
        height: auto;
      }
    }
    .event-show-cards {
      height: 380px;
      width: 250px;
      background-image: url('/assets/img/charbg.jpg');
      background-color: #185360;
      background-blend-mode: screen;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 0.8rem 0.8rem 0 rgba(0,0,0,.6);
      border: 2px solid black;
      @media #{$breakpoint-medium2} {
        height: 300px;
        width: 175px;
      }

      h3 {
        font-size: 3em;
        font-family: necrotype;
        margin-top: 0;
        text-shadow: 2px 2px 5px black;
        letter-spacing: 2px;
        @media #{$breakpoint-medium2} {
          font-size: 2em;
        }
      }

      img {
        width: 60%;
        height: auto;
        animation: spin 10s forwards;
      }
    }
  }
}

  // SCROLLBAR STUFF //
.board-grid::-webkit-scrollbar {
  background-color: transparent;
}

.board-grid::-webkit-scrollbar-thumb {
  background-color: #607375;
  outline: 5px solid black;
  border-radius: 2rem;
  box-shadow: 0px 0px 30px #8fc470;
}

// LAST ROW //
.last-row {
  height: 20vh;
  display: flex;
  font-family: Noto Sans;

// CHARACTER DETAILS //
  .character-details {
    height: 20vh;
    width: 30%;
    display: flex;
    background-image: url('/assets/img/charbg.jpg');
    background-color: #59451C;
    background-blend-mode: screen;
    border-radius: 0px 20px 0px 0px;
    border: 2px solid black;
    border-bottom: 0px;
    .portrait {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 40%;
      @media #{$breakpoint-medium2} {
        width: 30%;
      }
      h5 {
        margin: 0;
        font-family: necrotype;
        font-size: 1.8em;
        text-align: center;
        padding-left: 15px;
        @media #{$breakpoint-medium2} {
          font-size: .8em;
          width: 100%;
        }
      }
      .character-image {
        img {
          height: 170px;
          width: 170px;
          -webkit-filter: drop-shadow(3px 3px 2px black);
          filter: drop-shadow(3px 3px 2px black);
          @media #{$breakpoint-medium2} {
            height: 120px;
            width: 120px;
          }
        }
      }
    }

    .stats {
      width: 60%;
      height: 20vh;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      #speed, #might, #knowledge, #sanity {
        display: flex;
        @media #{$breakpoint-medium2} {
          margin: 0;
          padding: 0;
        }
        h5 {
          margin-top: 12px;
          margin-left: 35px;
          margin-bottom: 0;
          font-family: necrotype;
          font-size: 1.8em;
          @media #{$breakpoint-medium2} {
            font-size: 1em;
          }
        }
        ul {
          list-style: none;
          width: 200px;
          display: flex;
          justify-content: space-around;

          li {
            font-family: spoopy;
            font-size: 2.5em;
            display: inline-block;
            @media #{$breakpoint-medium2} {
              font-size: 1.5em;
              margin: 0;
              padding: 0;
            }
          }
        }
      }
      #knowledge {
        h5 {
          @media #{$breakpoint-medium2} {
            margin-left: -10px;
          }
        }
      }
    }
  }

  // INSTRUCTIONS //
  .play-instructions {
    height: 20vh;
    width: 40%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    background-image: url('/assets/img/charbg.jpg');
    background-color: #59451C;
    background-blend-mode: screen;
    border-radius: 20px 20px 0px 0px;
    border: 2px solid black;
    border-bottom: 0px;
    h5 {
      margin-top: 12px;
      margin-left: 35px;
      margin-bottom: 0;
      font-family: necrotype;
      font-size: 1.8em;
      text-align: center;
      @media #{$breakpoint-medium2} {
        font-size: 1.2em;
      }
    }
    h4 {
      margin-top: 100px;
      text-align: center;
      @media #{$breakpoint-medium2} {
        margin-top: 50px;
      }
      span {
        font-size: 5em;
        margin-top: 200px;
        align-self: center;
        color: black;
        text-shadow: 1px 1px 5px black;
        letter-spacing: 8px;
        @media #{$breakpoint-medium2} {
          font-size: 3em;
        }
      }

    }
    h3 {
      font-family: spoopy;
      color: darkred;
      text-align: center;
      font-size: 3em;
      letter-spacing: 3px;
      margin: 40px;
      text-shadow: 1px 1px 5px black;
      @media #{$breakpoint-medium2} {
        font-size: 2em;
        margin-top: 5px;
      }
    }
    p {
      margin: 15px 40px;
      font-family: spoopy;
      font-size: 2em;
      letter-spacing: 2px;
      @media #{$breakpoint-medium2} {
        font-size: 1.5em;
        margin-top: 5px;
      }
    }
    .event-drawn {
      height: 20vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-image: url('/assets/img/charbg.jpg');
      background-color: #185360;
      background-blend-mode: screen;
      border-radius: 20px 20px 0px 0px;
      overflow: auto;
    }
    .event-drawn::-webkit-scrollbar {
      background-color: transparent;
    }

    .event-drawn::-webkit-scrollbar-thumb {
      background-color: #607375;
      outline: 5px solid black;
      border-radius: 2rem;
    }
    .omen-drawn {
      height: 20vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-image: url('/assets/img/charbg.jpg');
      background-color: #1C591F;
      background-blend-mode: screen;
      border-radius: 20px 20px 0px 0px;
      overflow: auto;
    }
    .omen-drawn::-webkit-scrollbar {
      background-color: transparent;
    }

    .omen-drawn::-webkit-scrollbar-thumb {
      background-color: #62753a;
      outline: 5px solid black;
      border-radius: 2rem;
    }
  }

  // DICE ROLLS //
  .dice-roll {
    height: 20vh;
    width: 20%;
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
    background-image: url('/assets/img/charbg.jpg');
    background-color: #59451C;
    background-blend-mode: screen;
    border-radius: 20px 0px 0px 0px;
    border: 2px solid black;
    border-bottom: 0px;
    .dice-image {
      margin-top: 25px;
      margin-left: 20px;
      @media #{$breakpoint-medium2} {
        img {
          width: 100px;
          height: auto;
          margin-top: 5px;
          margin-right: 10px;
        }
      }
    }
    .dice-words {
      text-align: center;
      margin-right: 20px;
      h2 {
        font-family: spoopy;
        font-size: 10em;
        color: darkred;
        margin: 0;
        margin-top: 25px;
        text-shadow: 3px 3px 10px black;
        @media #{$breakpoint-medium2} {
          font-size: 6em;
          margin-top: 5px;
        }
      }
      h3 {
        margin-top: 12px;
        margin-left: 35px;
        margin-bottom: 0;
        font-family: necrotype;
        font-size: 1.8em;
        text-align: center;
        @media #{$breakpoint-medium2} {
          font-size: 1.2em;
        }
      }
    }
  }
}


// OTHER SHIT //
.cell {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 198px;
  height: 198px;
  border: 1px solid black;
  box-shadow: 0 0 5px black;
}

.diceImageFlash {
  -webkit-filter: drop-shadow(1px 1px 25px #8fc470);
  filter: drop-shadow(1px 1px 25px #8fc470);
  cursor: pointer;
  animation: bounce 2.5s infinite;
  &:hover {
    animation: wiggle .5s forwards;
  }
}

img {
  width: 198px;
  height: 198px;
}

.highlighted {
  font-family: spoopy;
  color: darkred;
  text-shadow: 1px 1px 5px black;
}

.active {
  box-shadow: 0 0 50px #8fc470;
}

.burialRoom {
  box-shadow: 0 0 300px darkred;
}

.hidden {
  display: none;
}

.dustyHallway{
  background: url("/assets/img/rooms/dusty-hallway.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.bloodyRoom{
  background: url("/assets/img/rooms/bloody-room.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.library{
  background: url("/assets/img/rooms/library.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.graveyard{
  background: url("/assets/img/rooms/graveyard.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.diningRoom{
  background: url("/assets/img/rooms/dining-room.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.ballroom{
  background: url("/assets/img/rooms/ballroom.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.junkroom{
  background: url("/assets/img/rooms/junk-room.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.conservatory{
  background: url("/assets/img/rooms/conservatory.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.statuaryCorridor{
  background: url("/assets/img/rooms/statuary-corridor.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.abandonedRoom{
  background: url("/assets/img/rooms/abandoned-room.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.patio{
  background: url("/assets/img/rooms/patio.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.gameRoom{
  background: url("/assets/img/rooms/game-room.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.coalChute{
  background: url("/assets/img/rooms/coal-chute.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.gardens{
  background: url("/assets/img/rooms/gardens.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.kitchen{
  background: url("/assets/img/rooms/kitchen.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.upperLanding{
  background: url("/assets/img/rooms/upper-landing.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.operatingLaboratory{
  background: url("/assets/img/rooms/operating-laboratory.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.tower{
  background: url("/assets/img/rooms/tower.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.attic{
  background: url("/assets/img/rooms/attic.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.creakyHallway{
  background: url("/assets/img/rooms/creaky-hallway.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.balcony{
  background: url("/assets/img/rooms/balcony.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.charredRoom{
  background: url("/assets/img/rooms/charred-room.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.bedroom{
  background: url("/assets/img/rooms/bedroom.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.collapsedRoom{
  background: url("/assets/img/rooms/collapsed-room.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.masterBedroom{
  background: url("/assets/img/rooms/master-bedroom.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.gallery{
  background: url("/assets/img/rooms/gallery.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.chapel{
  background: url("/assets/img/rooms/chapel.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.storeroom{
  background: url("/assets/img/rooms/storeroom.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.undergroundLake{
  background: url("/assets/img/rooms/underground-lake.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.organRoom{
  background: url("/assets/img/rooms/organ-room.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.gymnasium{
  background: url("/assets/img/rooms/gymnasium.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.servantsQuarters{
  background: url("/assets/img/rooms/servants-quarters.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.furnaceRoom{
  background: url("/assets/img/rooms/furnace-room.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.catacombs{
  background: url("/assets/img/rooms/catacombs.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.wineCellar{
  background: url("/assets/img/rooms/wine-cellar.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.pentagramChamber{
  background: url("/assets/img/rooms/pentagram-chamber.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.chasm{
  background: url("/assets/img/rooms/chasm.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.larder{
  background: url("/assets/img/rooms/larder.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.researchLaboratory{
  background: url("/assets/img/rooms/research-laboratory.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.crypt{
  background: url("/assets/img/rooms/crypt.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.stairsFromBasement{
  background: url("/assets/img/rooms/basement-stairs.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.vault{
  background: url("/assets/img/rooms/vault.jpg") no-repeat left top;
  background-size: 198px 198px;
}

.basementLanding{
  background: url("/assets/img/rooms/basement-landing.jpg") no-repeat left top;
  background-size: 198px 198px;
}
