.cell {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 98px;
  height: 98px;
  // border: 2px solid black;
}

img {
  width: 98px;
  height: 98px;
}

.active {
  // border: 1px solid green;
  box-shadow: 10px 5px 5px black;
}

.dustyHallway{
  background: url("/assets/img/rooms/dusty-hallway.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.bloodyRoom{
  background: url("/assets/img/rooms/bloody-room.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.library{
  background: url("/assets/img/rooms/library.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.graveyard{
  background: url("/assets/img/rooms/graveyard.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.diningRoom{
  background: url("/assets/img/rooms/dining-room.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.ballroom{
  background: url("/assets/img/rooms/ballroom.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.junkroom{
  background: url("/assets/img/rooms/junk-room.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.conservatory{
  background: url("/assets/img/rooms/conservatory.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.statuaryCorridor{
  background: url("/assets/img/rooms/statuary-corridor.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.abandonedRoom{
  background: url("/assets/img/rooms/abandoned-room.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.patio{
  background: url("/assets/img/rooms/patio.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.gameRoom{
  background: url("/assets/img/rooms/game-room.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.coalChute{
  background: url("/assets/img/rooms/coal-chute.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.gardens{
  background: url("/assets/img/rooms/gardens.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.kitchen{
  background: url("/assets/img/rooms/kitchen.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.upperLanding{
  background: url("/assets/img/rooms/upper-landing.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.operatingLaboratory{
  background: url("/assets/img/rooms/operating-laboratory.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.tower{
  background: url("/assets/img/rooms/tower.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.attic{
  background: url("/assets/img/rooms/attic.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.creakyHallway{
  background: url("/assets/img/rooms/creaky-hallway.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.balcony{
  background: url("/assets/img/rooms/balcony.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.charredRoom{
  background: url("/assets/img/rooms/charred-room.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.bedroom{
  background: url("/assets/img/rooms/bedroom.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.collapsedRoom{
  background: url("/assets/img/rooms/collapsed-room.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.masterBedroom{
  background: url("/assets/img/rooms/master-bedroom.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.gallery{
  background: url("/assets/img/rooms/gallery.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.chapel{
  background: url("/assets/img/rooms/chapel.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.storeroom{
  background: url("/assets/img/rooms/storeroom.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.undergroundLake{
  background: url("/assets/img/rooms/underground-lake.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.organRoom{
  background: url("/assets/img/rooms/organ-room.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.gymnasium{
  background: url("/assets/img/rooms/gymnasium.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.servantsQuarters{
  background: url("/assets/img/rooms/servants-quarters.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.furnaceRoom{
  background: url("/assets/img/rooms/furnace-room.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.catacombs{
  background: url("/assets/img/rooms/catacombs.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.wineCellar{
  background: url("/assets/img/rooms/wine-cellar.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.pentagramChamber{
  background: url("/assets/img/rooms/pentagram-chamber.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.chasm{
  background: url("/assets/img/rooms/chasm.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.larder{
  background: url("/assets/img/rooms/larder.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.researchLaboratory{
  background: url("/assets/img/rooms/research-laboratory.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.crypt{
  background: url("/assets/img/rooms/crypt.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.stairsFromBasement{
  background: url("/assets/img/rooms/basement-stairs.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.vault{
  background: url("/assets/img/rooms/vault.jpg") no-repeat left top;
  background-size: 98px 98px;
}

.basementLanding{
  background: url("/assets/img/rooms/basement-landing.jpg") no-repeat left top;
  background-size: 98px 98px;
}
