<div class="row">
  <div class="cell" id="1"></div>
  <div class="cell" id="2"></div>
  <div class="cell" id="3"></div>
  <div class="cell" id="4"></div>
  <div class="cell" id="5"></div>
  <div class="cell" id="6"></div>
  <div class="cell" id="7"></div>
  <div class="cell" id="8"></div>
</div>
<div class="row">
  <div class="cell" id="9"></div>
  <div class="cell" id="10"></div>
  <div class="cell" id="11"></div>
  <div class="cell" id="12"></div>
  <div class="cell" id="13"></div>
  <div class="cell" id="14"></div>
  <div class="cell" id="15"></div>
  <div class="cell" id="16"></div>
</div>
<div class="row">
  <div class="cell" id="17"></div>
  <div class="cell" id="18"></div>
  <div class="cell" id="19"></div>
  <div class="cell" id="20"></div>
  <div class="cell" id="21"></div>
  <div class="cell" id="22"></div>
  <div class="cell" id="23"></div>
  <div class="cell" id="24"></div>
</div>
<div class="row">
  <div class="cell" id="25"></div>
  <div class="cell" id="26"></div>
  <div class="cell" id="27"></div>
  <div class="cell" id="28"></div>
  <div class="cell" id="29"></div>
  <div class="cell" id="30"></div>
  <div class="cell" id="31"></div>
  <div class="cell" id="32"></div>
</div>
<div class="row">
  <div class="cell" id="33"></div>
  <div class="cell" id="34"></div>
  <div class="cell" id="35"></div>
  <div class="cell" id="36"></div>
  <div class="cell" id="37"><img [src]="grandStaircase?.src"></div>
  <div class="cell" id="38"><img [src]="foyer?.src"></div>
  <div class="cell" id="39"><img [src]="entranceHall?.src"></div>
  <div class="cell" id="40"></div>
</div>
<div class="row">
  <div class="cell" id="41"></div>
  <div class="cell" id="42"></div>
  <div class="cell" id="43"></div>
  <div class="cell" id="44"></div>
  <div class="cell" id="45"></div>
  <div class="cell" id="46"></div>
  <div class="cell" id="47"></div>
  <div class="cell" id="48"></div>
</div>
<div class="row">
  <div class="cell" id="49"></div>
  <div class="cell" id="50"></div>
  <div class="cell" id="51"></div>
  <div class="cell" id="52"></div>
  <div class="cell" id="53"></div>
  <div class="cell" id="54"></div>
  <div class="cell" id="55"></div>
  <div class="cell" id="56"></div>
</div>
<div class="row">
  <div class="cell" id="57"></div>
  <div class="cell" id="58"></div>
  <div class="cell" id="59"></div>
  <div class="cell" id="60"></div>
  <div class="cell" id="61"></div>
  <div class="cell" id="62"></div>
  <div class="cell" id="63"></div>
  <div class="cell" id="64"></div>
</div>
<!-- <div (keypress)="handleKeyboardEvent($event)" tabindex="1">

</div> -->

<!-- <div *ngFor="let staticRoomTile of staticRoomTiles">
  <p>{{staticRoomTile.name}}</p>
</div> -->
<!--<h4>Ground</h4>
<div class="cell" *ngFor="let room of randomGroundRoomTiles">
  <img [src]="room[0].src">
</div>
<hr>
<h4>Basement</h4>
<div class="cell" *ngFor="let room of randomBasementRoomTiles">
  <img [src]="room[0].src">
</div>
<hr>
<h4>Upstairs</h4>
<div class="cell" *ngFor="let room of randomUpperRoomTiles">
  <img [src]=room[0].src>
</div> -->




















































<!-- <div class="row">
  <div class="cell" id="01-01"></div>
  <div class="cell" id="01-02"></div>
  <div class="cell" id="01-03"></div>
  <div class="cell" id="01-04"></div>
  <div class="cell" id="01-05"></div>
  <div class="cell" id="01-06"></div>
  <div class="cell" id="01-07"></div>
  <div class="cell" id="01-08"></div>
  <div class="cell" id="01-09"></div>
  <div class="cell" id="01-10"></div>
  <div class="cell" id="01-11"></div>
</div>
<div class="row">
  <div class="cell" id="02-01"></div>
  <div class="cell" id="02-02"></div>
  <div class="cell" id="02-03"></div>
  <div class="cell" id="02-04"></div>
  <div class="cell" id="02-05"></div>
  <div class="cell" id="02-06"></div>
  <div class="cell" id="02-07"></div>
  <div class="cell" id="02-08"></div>
  <div class="cell" id="02-09"></div>
  <div class="cell" id="02-10"></div>
  <div class="cell" id="02-11"></div>
</div>
<div class="row">
  <div class="cell" id="03-01"></div>
  <div class="cell" id="03-02"></div>
  <div class="cell" id="03-03"></div>
  <div class="cell" id="03-04"></div>
  <div class="cell" id="03-05"></div>
  <div class="cell" id="03-06"></div>
  <div class="cell" id="03-07"></div>
  <div class="cell" id="03-08"></div>
  <div class="cell" id="03-09"></div>
  <div class="cell" id="03-10"></div>
  <div class="cell" id="03-11"></div>
</div>
<div class="row">
  <div class="cell" id="04-01"></div>
  <div class="cell" id="04-02"></div>
  <div class="cell" id="04-03"></div>
  <div class="cell" id="04-04"></div>
  <div class="cell" id="04-05"></div>
  <div class="cell" id="04-06"></div>
  <div class="cell" id="04-07"></div>
  <div class="cell" id="04-08"></div>
  <div class="cell" id="04-09"></div>
  <div class="cell" id="04-10"></div>
  <div class="cell" id="04-11"></div>
</div>
<div class="row">
  <div class="cell" id="05-01"></div>
  <div class="cell" id="05-02"></div>
  <div class="cell" id="05-03"></div>
  <div class="cell" id="05-04"></div>
  <div class="cell" id="05-05"></div>
  <div class="cell" id="05-06"></div>
  <div class="cell" id="05-07"></div>
  <div class="cell" id="05-08"></div>
  <div class="cell" id="05-09"></div>
  <div class="cell" id="05-10"></div>
  <div class="cell" id="05-11"></div>
</div>
<div class="row">
  <div class="cell" id="06-01"></div>
  <div class="cell" id="06-02"></div>
  <div class="cell" id="06-03"></div>
  <div class="cell" id="06-04"></div>
  <div class="cell" id="06-05"></div>
  <div class="cell" id="06-06">{{grandStaircase?.name}}</div>
  <div class="cell" id="06-07">{{foyer?.name}}</div>
  <div class="cell" id="06-08">{{entranceHall?.name}}</div>
  <div class="cell" id="06-09"></div>
  <div class="cell" id="06-10"></div>
  <div class="cell" id="06-11"></div>
</div>
<div class="row">
  <div class="cell" id="07-01"></div>
  <div class="cell" id="07-02"></div>
  <div class="cell" id="07-03"></div>
  <div class="cell" id="07-04"></div>
  <div class="cell" id="07-05"></div>
  <div class="cell" id="07-06"></div>
  <div class="cell" id="07-07"></div>
  <div class="cell" id="07-08"></div>
  <div class="cell" id="07-09"></div>
  <div class="cell" id="07-10"></div>
  <div class="cell" id="07-11"></div>
</div>
<div class="row">
  <div class="cell" id="08-01"></div>
  <div class="cell" id="08-02"></div>
  <div class="cell" id="08-03"></div>
  <div class="cell" id="08-04"></div>
  <div class="cell" id="08-05"></div>
  <div class="cell" id="08-06"></div>
  <div class="cell" id="08-07"></div>
  <div class="cell" id="08-08"></div>
  <div class="cell" id="08-09"></div>
  <div class="cell" id="08-10"></div>
  <div class="cell" id="08-11"></div>
</div>
<div class="row">
  <div class="cell" id="09-01"></div>
  <div class="cell" id="09-02"></div>
  <div class="cell" id="09-03"></div>
  <div class="cell" id="09-04"></div>
  <div class="cell" id="09-05"></div>
  <div class="cell" id="09-06"></div>
  <div class="cell" id="09-07"></div>
  <div class="cell" id="09-08"></div>
  <div class="cell" id="09-09"></div>
  <div class="cell" id="09-10"></div>
  <div class="cell" id="09-11"></div>
</div>
<div class="row">
  <div class="cell" id="10-01"></div>
  <div class="cell" id="10-02"></div>
  <div class="cell" id="10-03"></div>
  <div class="cell" id="10-04"></div>
  <div class="cell" id="10-05"></div>
  <div class="cell" id="10-06"></div>
  <div class="cell" id="10-07"></div>
  <div class="cell" id="10-08"></div>
  <div class="cell" id="10-09"></div>
  <div class="cell" id="10-10"></div>
  <div class="cell" id="10-11"></div>
</div>
<div class="row">
  <div class="cell" id="11-01"></div>
  <div class="cell" id="11-02"></div>
  <div class="cell" id="11-03"></div>
  <div class="cell" id="11-04"></div>
  <div class="cell" id="11-05"></div>
  <div class="cell" id="11-06"></div>
  <div class="cell" id="11-07"></div>
  <div class="cell" id="11-08"></div>
  <div class="cell" id="11-09"></div>
  <div class="cell" id="11-10"></div>
  <div class="cell" id="11-11"></div>
</div> -->
